.favorite-hotel:nth-child(1){
    padding-top: 0px;
}

.favorite-hotel:nth-last-child(1){
    padding-bottom: 0px;
    border-bottom: none;
}

.favorite-hotel {
    padding-left: 0;
    list-style: none;
    padding-top: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
    display: grid;
    grid-template-columns: 98px 22px 66px 36px 53px 21px;
    grid-template-rows: repeat(3, 22px);
    row-gap: 4px;
    align-items: start;
    justify-content: center;
    margin-right: 16px;
}

.favorite-hotel__stars-container {
    display: flex;
    justify-content: space-between;
    max-width: 99px;
    width: 100%;
}

.favorite-hotel__name {
    text-align: start;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.408px;
    color: #424242;
    white-space: nowrap;
    width: 100%;
    max-width: 362px;
    overflow: hidden;
    text-overflow: ellipsis;

    grid-column: 1 /6;
    grid-row: 1;
}

.favorite-hotel__button {
    cursor: pointer;
    align-self: end;
    grid-column: 6/7;
    background-image: url(../../images/heart.svg);
    width: 21px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.2s;
}

.favorite-hotel__button__saved {
    background-image: url(../../images/filledHeart.svg);
}

.favorite-hotel__date {
    margin: 0;
    text-align: start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
}

.favorite-hotel__space {
    height: 1px;
    width: 9px;
    background: #C4C4C4;
    border-radius: 2px;
    align-self: center;
}

.favorite-hotel__days {
    text-align: start;
    align-self: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
    margin: 0;
}

.favorite-hotel__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
    margin: 0;
    grid-row: 3/4;
    grid-column: 4/5;
}

.favorite-hotel__price-ammount {
    grid-row: 3/4;
    grid-column: 5/7;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: #424242;
}

.favorite-hotel__stars-container {
    grid-row: 3/4;
}

.favorite-hotel__button:hover {
    background-image: url(../../images/hoveredHeart.svg);
}

.favorite-hotel__star {
    width: 17px;
    height: 17px;
    background-image: url(../../images/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.favorite-hotel__star_active {
    background-image: url(../../images/filledStar.svg);
}